### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

# JetBrains Rider
.idea/
*.sln.iml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/
.env